@import "global-mobile.css";

body {
  background: linear-gradient(45deg, #6c464f, white);
}
@media only screen and (min-width: 768px) {
  body {
    font-size: calc(16px + 0.1vw);
    line-height: calc(1.1em + 0.2vw);
    width: 70vw;
    margin: auto;
  }
}
