@import "global-handheld.css";

@media only screen and (min-width: 769px) {
  body {
    font-size: calc(16px + 0.5vw);
    line-height: calc(1.1em + 0.5vw);
    width: 70vw;
    margin: auto;
  }
  #logo {
    position: fixed; 
    top: 0px;
    left: 25vw;
    border-top: 2px solid red;
    width: 10vw;
  }
}